.section-promotions {
    display: flex;
    /* background-color: #f2f2f2; */
    width: 100%;
    height: 100%;
}
.promotion-banner{
    position: relative;
}
.promotion-slider {
    position: relative;
    overflow: hidden;
}
.promotion-images {
    position: relative;
    left: 0;
    transition: 0.9s ease-in-out;
    display: flex;
}
.promotion-image{
    width: 100%;
    object-fit: cover;
    float: left;
}
.section-promotions .promotion-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(-180deg, rgba(255,255,255,0), rgba(10, 10, 10, 0.711));
    text-transform: capitalize;
}
.promotion-description .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.promotion-description .promotion-title {
    margin-bottom: 10px;
    position: relative;
}
.promotion-description h1 {
    font-size: 22px;
    font-family: 'Racing Sans One';
    font-weight: 400;
}
.promotion-description h3 {
    line-height: 1.2em;
    font-size: 48px;
    font-family: 'Racing Sans One';
    font-weight: 400;
}
.promotion-indicator {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.promotion-indicator .indicator{
    padding: 5px;
    background: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    transform: scale(0.4);
}
@keyframes indicatorScale {
    0%{
        background-color: var(--text-color);
        transform: scale(0.4);
    }
    10%{
        background-color: var(--text-color);
    }
    100% {
        background: none;
        transform: scale(1.1);
    }
}
.promotion-indicator .active {
    transform: scale(1.1);
    background: none;
    animation: indicatorScale 0.7s ease-in-out;
}
.section-promotions button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* border: 0.15em solid var(--text-color); */
    background: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
    border: none;
}
.section-promotions button::before {
    content : "";
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    background-color: var(--text-color);
    -webkit-mask-image: radial-gradient(transparent 10% 60%, #ffffff 65%);
            mask-image: radial-gradient(transparent 10% 60%, #ffffff 65%);
}
.section-promotions button:hover::before {
    z-index: 3;
    background-image: conic-gradient(
        var(--primary-color) 45deg,
        var(--primary-color) 45deg,
        transparent 60deg,
        transparent 235deg,
        var(--primary-color) 360deg,
        transparent 0deg
    );
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.section-promotions button svg{
    width: 14px;
    height: 14px;
    fill: var(--text-color);
}
.section-promotions button:is(:hover, :focus) svg {
    fill: var(--primary-color);
}

.section-features {
    margin-left: 5em;
    margin-right: 5em;
}
.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: center; */
    gap: 50px;
}
.features .title, .gallery-title, .short-description-title {
    text-align: center;
    font-family: "Racing Sans One";
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 0.1em;
}
.features .title{
    grid-column: 1 / 4 span;
}
.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.feature-item .item-image {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.feature-item .item-title {
    margin: 10px;
}
.feature-item .item-text {
    line-height: 1.85em;
    font-weight: 500;
    color: var(--text-color-2);
}

.section-gallery {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.gallery-collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 110vh;
}
.gallery-item{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.gallery-title {
    margin-bottom: 1.5em;
}
.gallery-collections .special {
    grid-column: 1/2 span;
    grid-row: 1/2 span;
}
.gallery-collections .special-2 {
    grid-row: 3/2 span;
    grid-column: 2/2 span;
}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in;
    cursor: pointer;
    /* transform-origin: 65% 75%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../public/Assets/product_card/2024_venza.jpeg");
}
.img-01 {
    background-image: url("../../public/Assets/product_card/2023_Mirai.jpeg");
}
.img-02 {
    background-image: url("../../public/Assets/product_card/2024_GR_Corolla.jpeg");
}
.img-03 {
    background-image: url("../../public/Assets/product_card/2024_grand_highlander.jpeg");
}
.img-04 {
    background-image: url("../../public/Assets/product_card/2024_land_cruiser.jpeg");
}
.img-05 {
    background-image: url("../../public/Assets/product_card/2024_prius_prime.jpeg");
}
.img-06 {
    background-image: url("../../public/Assets/product_card/2024_RAV4.jpeg");
}
.img-07 {
    background-image: url("../../public/Assets/product_card/2024_venza.jpeg");
}
.gallery-caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.gallery-caption p {
    color: white;
    font-size: 32px;
    font-family: "Racing Sans One";
    opacity: 0;
    transition: all 0.5s ease-in-out;
    text-align: center;
}
.gallery-image:hover {
    transform: scale(1.15);
}
.gallery-image:hover .gallery-caption p {
    opacity: 1;
    transform: translateY(-20px);
}
.special .gallery-image:hover .gallery-caption p {
    transform: translateY(-40px);
}
.special-2 .gallery-image:hover .gallery-caption p {
    transform: translateY(-40px);
}
.short-description-title {
    margin-bottom: 2em;
}
.section-short-description {
    display: flex;
    flex-direction: column;
    margin-left: 12em;
    margin-right: 12em;
}
.short-description {
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}
.short-description .title {
    font-size: 28px;
    font-family: "Racing Sans One";
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--primary-color);
    letter-spacing: 3px;
}
.short-description .description {
    font-weight: 500;
    line-height: 1.8em;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
    color: var(--text-color-2);
}
.right {
    width: 100%;
    display: flex;
    height: 100%;
    /* justify-content: flex-end; */
}
.short-description-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.section-promotion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.max-size {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotions {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 5em;
    margin-right: 5em;
    width: 1400px;
    height: 40vh;
    position: relative;
}
.promotion-item {
    padding: 0;
    margin: 0;
    position: relative;
    left: 50%;
}
.promotion-item:nth-child(2) {
    left: 15%;
}
.promotion-item:nth-child(3) {
    left: -20%;
}
.promotion-item:nth-child(4) {
    left: -55%;
}
.promotion-button{
    padding: 30px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-column: 1/4 span;
    gap: 30px;
}
.promotion-image-2 {
    background-image: url("../../public/Assets/product_card/2024_grand_highlander.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
    clip-path: polygon(30% 0%, 90% 0%, 70% 100%, 10% 100%);
    transition: all 0.5s ease-in;
}
.pi-02 {
    background-image: url("../../public/Assets/promotion_banner/2024_corola_hatchback.jpeg");
}
.pi-03 {
    background-image: url("../../public/Assets/promotion_banner/2024_corola_hybrid.jpeg");
}
.pi-04 {
    background-image: url("../../public/Assets/product_card/2023_Mirai.jpeg");
}
.promotion-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    /* padding: 10px; */
    /* padding-right: 120px; */
    background-color: rgba(0, 0, 0, 0.5);
}
.promotion-caption .caption-block {
    height: 12.5%;
    width: 100%;
    text-align: right;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255, 255, 255, 0.412));
}
.text {
    padding-right: 120px;
    right: 0;
    position: absolute;
}
.promotion-caption p {
    color: white;
    font-size: 32px;
    font-family: "Racing Sans One";
    /* opacity: 0; */
}
.group-button {
    position: absolute;   
    bottom: 0;
    right: 0;
    transform: translateY(-20%);
}

.product-section {
    flex-direction: column;
    margin-right: 5em;
    margin-left: 5em;
    /* position: relative; */
}
.product-content {
    background-image: url('../../public/Assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
    padding: 20px 30px;
}
.product-content::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bg-color), var(--bg-color-solid));
    z-index: -1;
    opacity: 0.4;
}

.product-collection {
    /* margin-left: 5em;
    margin-right: 5em; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 400px;
    position: relative;
    width: 100%;
}
.product-item {
    position: relatives;
    width: 350px;
    padding: 40px 40px 0 40px;
    border-radius: 10px;
    z-index: 3;
    transition: .3s;
    /* transform: perspective(500px); */
    transform-style: preserve-3d;
    margin: 0 20px;
    /* box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    background-color: transparent #262626; */
    background: rgba(38, 38, 38, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(38, 38, 38, 0.37);
}
.product-item:hover {
    padding-bottom: 10px;
}
.product-image {
    position: relative;
    width: 100%;
    height: 150px;
    transform: translateZ(50px);
}
.product-image img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scale(0.8);
    transition: .3s ease-in;
    top: 0%;
}
.product-item:hover img {
    transform: scaleY(1);
    top: 5%;
}
.product-name {
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    top: 10%;
    text-align: center;
    -webkit-text-stroke: 1px var(--text-color-2);
    opacity: 0.5;
    color: transparent;
    z-index: -1;
    transition: .3s ease-in;
}
.product-item:hover .product-name {
    transform: scale(1.1);
    top: 3%;
}
.product-type {
    cursor: pointer;
    display: absolute;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    color: var(--text-color-2);
    word-spacing: 2px;
    transition: .3s ease;
    transform: translateZ(50px);
}
.product-item:hover .product-type {
    font-size: 1.6em;
    font-weight: 700;
}

/* .product-type:hover {
    font-size: 1.6em;
    font-weight: 800;
} */
.product-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.product-desc h2 {
    font-size: 1.6em;
    color: #fff;
    transition: .3s;
    transform: translateY(100px);
}
.product-desc button {
    padding: 12px 28px;
    border-radius: 50px;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: .3s;
    transform: translateY(100px);
    /* z-index: -1; */
}
.product-item:hover .product-desc {
    margin-top: 15px;
}
.product-item:hover .product-desc h2 {
    transition-delay: .2s;
    transform: translateY(0);
}
.product-item:hover .product-desc .product-button {
    transition-delay: .4s;
    transform: translateY(0);
}
.product-button:hover {
    transition-delay: 0;
    background-color: var(--primary-color-focus);
    color: #fff;
}
.product-button-group {
    display: flex;
    justify-content: flex-end;
}

.mobile {
    display: none;
}
.desktop {
    display: flex;
}

@media (max-width: 1040px) {
    .section-promotions .promotion-description{
        padding: 25px;
    }
    .promotion-description h1 {
        font-size: 18px;
    }
    .promotion-description h3 {
        font-size: 32px;
    }
    .promotion-indicator .active {
        transform: scale(1);
        background: none;
    }
    .section-promotions button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 0.15em solid var(--text-color);
        background: none;
        border-radius: 50%;
    }
    .section-promotions button img{
        width: 10px;
        height: 10px;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* align-items: center; */
        gap: 40px;
    }
    .features .title{
        grid-column: 1 / 2 span;
    }
    .gallery-caption p {
        font-size: 18px;
    }
    .section-gallery {
        padding-left: 3em;
        padding-right: 3em;
    }
    .short-description {
        gap: 40px;
    }
    .section-short-description {
        margin-left: 3em;
        margin-right: 3em;
    }
}

@media (max-width: 940px) { 
    .promotion-slider {
        position: relative;
    }
    .promotion-images {
        height: 30vh;
    }
    .promotion-image{
        width: 100%;
        object-fit: cover;
        float: left;
        /* height: 25vh; */
    }
    .section-promotions .promotion-description {
        display: flex;
        padding: 5px;
    }
    .promotion-description .promotion-title {
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .promotion-description h1 {
        font-size: 12px;
    }
    .promotion-description h3 {
        font-size: 18px;
    }
    .promotion-description .button-group {
        gap: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        opacity: 0.5;
    }
    .promotion-indicator {
        gap: 3px;
    }
    .promotion-indicator .indicator{
        padding: 4px;
        background: var(--text-color);
        border: 1px solid var(--text-color);
        border-radius: 50%;
        transform: scale(0.4);
    }
    @keyframes indicatorScale {
        0%{
            transform: scale(0.4);
        }
        100% {
            transform: scale(1);
            background: none;
        }
    }
    .promotion-indicator .active {
        transform: scale(1);
        background: none;
        animation: indicatorScale 0.4s ease-in-out;
    }
    .section-promotions button {
        width: 18px;
        height: 18px;
        /* border: 0.15em solid var(--text-color); */
    }
    .section-promotions button::before {
        content : "";
        width: 0%;
        height: 0%;
    }
    .section-promotions button:focus {
        border-color: var(--primary-color);
    }
    .section-promotions button svg{
        width: 10px;
        height: 10px;
        fill: var(--text-color);
    }

    .section-features {
        margin-left: 2em;
        margin-right: 2em;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr;
        /* align-items: center; */
        gap: 10px;
        row-gap: 40px;
    }
    .features .title{
        grid-column: 1;
    }
    .feature-item .item-image {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
    .feature-item .item-title {
        margin: 8px;
        font-size: 18px;
    }
    .feature-item .item-text {
        font-size: 14px;
    }
    .section-gallery {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .gallery-collections {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 40vh;
    }
    .gallery-title {
        margin-bottom: 0.5em;
    }
    .gallery-caption{
        padding: 5px;
    }
    .gallery-caption p {
        color: white;
        font-size: 10px;
        font-family: "Racing Sans One";
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .gallery-image:hover .gallery-caption p {
        opacity: 1;
        transform: translateY(-5px);
    }
    .special .gallery-image:hover .gallery-caption p {
        transform: translateY(-15px);
        font-size: 16px;
    }
    .special-2 .gallery-image:hover .gallery-caption p {
        transform: translateY(-15px);
        font-size: 16px;
    }
    .short-description-title {
        margin-bottom: 0.5em;
    }
    .section-short-description {
        display: flex;
        flex-direction: column;
        margin-left: 2em;
        margin-right: 2em;
    }
    .short-description {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }
    .left {
        grid-column: 1;
        grid-row: 2;
    }
    .right {
        grid-column: 1;
        grid-row: 1;
    }
    .short-description-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
    .short-description .title {
        font-size: 22px;
        font-family: "Racing Sans One";
        font-weight: 400;
        margin-bottom: 5px;
        color: var(--primary-color);
        letter-spacing: 3px;
    }
    .short-description .description {
        font-weight: 500;
        line-height: 1.8em;
        font-size: 14px;
        text-align: justify;
        margin-bottom: 10px;
    }
    .promotions{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 1000px;
        height: 20vh;
        margin-left: 2em;
        margin-right: 2em;
        column-gap: 10px;
    }
    .promotion-item {
        padding: 0;
        margin: 0;
        position: relative;
        /* left: 0%; */
    }
    .promotion-item:nth-child(2) {
        /* left: -25%; */
    }
    .promotion-item:nth-child(3) {
        /* left: -50%; */
    }
    .promotion-item:nth-child(4) {
        /* left: -55%; */
        /* display: none; */
    }
    .promotion-image-2 {
        clip-path: polygon(20% 0%, 90% 0%, 80% 100%, 10% 100%);
    }
    .group-button {
        display: none;
        grid-row: 2;
        grid-column: 1/4 span;
        /* position: absolute;    */
        /* bottom: 0;
        right: 0; */
        /* transform: translateY(-20%); */
    }
    .group-button-2 {
        margin-top: 1em;
        justify-content: center;
        margin-left: 2em;
        margin-right: 2em;
    }
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }
    .features .title, .gallery-title, .short-description-title {
        font-size: 32px;
    }
}